/.pnp
.pnp.js
.idea
~ci.list.txt
~ci.log.txt
~ci.errors.txt
*.stackdump
*.bak
*.old
*.log
tsconfig.json
package-lock.json
test
.github
.gitkeep
/.*/
/.*
tests
/~*
__test__
__tests__
node_modules
/node_modules/
**/node_modules/
*.ts
!*.d.ts
/bin/**/*.d.ts
/bin/*.d.ts

!*.d.mts
/bin/**/*.d.mts
/bin/*.d.mts

!*.d.cts
/bin/**/*.d.cts
/bin/*.d.cts

!/src/**/*.ts
!/src/**/*.cts
!/src/**/*.mts
!/src/**/*.tsx

/src/**/*.d.ts
/src/**/*.js
/src/**/*.d.cts
/src/**/*.d.mts
/src/**/*.cjs
/src/**/*.mjs
/src/**/*.jsx

*.tgz
/tsconfig.json.tpl
yarn-error.log
.git
yarn.lock
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.vue.js
*.vue.d.ts
*.vue.js.map
.nyc_output
coverage
/*.tpl
webpack.config.js
vue.config.js
/jestconfig.json
/tslint.json
.git
webpack.*.config.js
webpack.*.config.d.ts
webpack.*.config.js.map
webpack.*.config.ts
karma.conf.js
/_config.yml
intellij-style-guide.xml
jest.config.js
*.tsbuildinfo
tsconfig.*.json
tsconfig.esm.json.tpl
/package.d.ts
.mocharc.yml
jest.config.js
jest.config.*
/jest-preset.*
/report.*.json
now.json
/Makefile
*.spec.d.ts
*.spec.js
*.spec.ts

*.spec.d.cts
*.spec.cjs
*.spec.cts

*.spec.d.mts
*.spec.mjs
*.spec.mts

*.spec.d.tsx
*.spec.tsx

__mocks__
__tests__
__snapshots__
*.snap
npm-shrinkwrap.json
/example/
*.stat
.vercel
tsdx.config.js
/report.json

/_*/
_snowpack

/snowpack.config.js
web_modules
cz-adapter

tsc-multi.json.tpl
tsc-multi.json

changelog-option.js

bin/tsconfig.json
bin/tsconfig.*.json

.yarnrc.yml
.turbo
__file_snapshots__
__fixtures__
/fixture/
